:root.theme-light {
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff0070;
  --cover-text-color: #ffc2e6;
  --title-section-color: #353430;
  --title-background-color: #ff8dcb;
  --title-text-color: #353430;
  --decorated-zone-text-color: #353430;
  --decorated-elements-color: transparent;
  --button-active-color: rgba(53, 52, 48, 1);
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --background-image: url(../images/cover-image-light.png);

}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff0070;
    --cover-text-color: #ffc2e6;
    --title-section-color: #353430;
    --title-background-color: #ff8dcb;
    --title-text-color: #353430;
    --decorated-zone-text-color: #353430;
    --decorated-elements-color: transparent;
    --button-active-color: rgba(53, 52, 48, 1);
    --button-hover-color: rgba(53, 52, 48, 0.4);
    --background-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff0070;
  --cover-text-color: #ffc2e6;
  --title-section-color: #353430;
  --title-background-color: #ff8dcb;
  --title-text-color: #353430;
  --decorated-zone-text-color: #353430;
  --decorated-elements-color: transparent;
  --button-active-color: rgba(53, 52, 48, 1);
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --background-image: url(../images/cover-image-light.png);
}
