
.page {
  max-inline-size: 1024px;  
  inline-size: 100%;
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.reference_in_text {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-background-color);
}
.reference_in_text:hover {
  border-bottom: 1px solid var(--text-color);
}

.reference_in_text:focus-visible {
  outline: 1px solid var(--text-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--page-padding);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header__theme-menu-list {
  display: grid;
  grid-template-columns: 72px 72px 72px;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  color: var(--decorated-zone-text-color);
  text-transform: lowercase;
  padding: 0 13px 2px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--decorated-zone-text-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-active-color);
}

.header_decorate_element {
  position: absolute;
  display: flex;
  flex-direction: row;
  line-height: 25px;
  gap: 3px;
  right: calc(var(--page-padding));
  top: var(--page-padding);
  color: var(--decorated-elements-color);
}

.header_decorate_element::before {
  content: "";
  position: relative;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 4.5px;
  background-color: var(--decorated-elements-color);
  top: 7px;
  left: 55px;
  box-shadow: 0px 0px 4px 2px var(--decorated-elements-color);
}

.header_decorate_element::after {
  content: "";
  position: relative;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--decorated-zone-text-color);
  border-right: 1px solid var(--decorated-zone-text-color);
  position: relative;
  justify-self: end;
}

.header_decorate_element-point {
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 4.5px;
  background-color: var(--decorated-elements-color);
  top: 7px;
  right: 7px;
  box-shadow: 0px 0px 4px 4px var(--decorated-elements-color);
}

.header_title {
  position: relative;
  overflow-wrap: normal;
  left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--cover-text-color);
  align-self: center;
}

.decorated-zone {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--decorated-zone-text-color);
  border-left: 1px solid var(--decorated-zone-text-color);
  bottom: 0;
  left: 0;
}

.title-decor {
  background-color: var(--title-background-color);
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
}

.header_article {
  inline-size: clamp(364px, 48vw, 491px);
}

.content_section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 60px var(--page-padding);
}

.section_title {
  color: var(--title-section-color);
  font-size: 18px;
  font-weight: 700;
}

.content_article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content_title {
  background-color: var(--title-background-color);
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 400;
}

.first_content_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.first_content_section-title {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.first_content_section-article {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.second_content_section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.second_content_section-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second_content_section-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.third_content_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

.gallery_section-title {
  font-size: 18px;
  margin-bottom: var(--page-padding);
}

.images_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card__img {
  display: block;
  object-position: center;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.gallery_image_1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gallery_image_2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_image_3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery_image_4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery_image_5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.footer::before {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--decorated-zone-text-color);
  border-right: 1px solid var(--decorated-zone-text-color);
  align-self: end;
}

.footer::after {
  content: "";
  align-self: start;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--decorated-zone-text-color);
  border-left: 1px solid var(--decorated-zone-text-color);
}

.footer_title {
  color: var(--cover-text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  justify-self: center;
  align-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (width <1024px), (orientation: portrait) {
  .header__theme-menu {
    flex-direction: row-reverse;
    justify-content: end;
  }

  .header__theme-menu-list {
    grid-template-columns: 72px;
    grid-template-rows: 23px 23px 23px;
    gap: 13px;
    justify-self: end;
  }

  .header_decorate_element {
    position: absolute;
    right: var(--page-padding);
    top: var(--page-padding);
  }

  .header_article {
    inline-size: clamp(355px, 47.4vw, 491px);
  }

  .first_content_section {
    column-gap: 39px;
    row-gap: 20px;
  }

  .second_content_section-title {
    column-gap: 20px;
  }

  .second_content_section-article {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .third_content_section {
    column-gap: 39px;
  }
}

@media (width <768px) {
  .decorated-zone {
    justify-items: start;
  }

  .header_title {
    position: static;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  }

  .decorate_bottom_corner {
    justify-self: start;
    align-self: end;
  }

  .content_section {
    gap: 50px;
    margin: 40px var(--page-padding);
  }

  .first_content_section {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
  }

  .first_content_section-article {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .first_content_section-title {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .second_content_section-title {
    grid-template-columns: auto;
  }

  .third_content_section {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }

  .images_grid {
    display: flex;
    flex-direction: column;
    gap: var(--page-padding);
  }

  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
